html {
    height: 100%;
}

html.scroll-auto {
    scroll-behavior: auto;
}

body {
    /*background-color: #004444;*/
    /* background-image: linear-gradient(to right, #005522, #002255); */
    background-color: #99BBCC;
    /*
    background-color: white;
    background-image: url("/static/redwoods.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
     */
    min-height: 100%;
}

main {
    padding: 0.5rem 1.25rem;
}

/* Login and adduser page stuff */
body.body-login {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

main.login {
    padding-top: 50px;
    max-width: 330px;
}

/*
main.login h3, p {
    color: white;
}
*/

#input-username {
    margin-top: 10px;
    margin-bottom: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#input-password {
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.error-box {
    border: 1px solid #660000;
    background-color: #FFBBBB;
    padding: 10px;
}

/* End login page stuff */

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    background: inherit;
}

.navbar-brand {
    font-size: 1.5rem;
    line-height: 1;
    margin-right: 10px;
    margin-left: 5px;
}

#linkbar {
    width: 500px;
    background-color: rgba(224, 224, 224, 0.9);
}

span.keyboard-shortcut {
    background-color: #ffffcc;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

tr.header{
    background-color: rgba(224, 224, 224, 0.9);
    border-top: 0px;
}

tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(192, 192, 192, 0.8);
}

tr.highlighted-row {
    background-color: rgba(192, 220, 192, 0.8);
}

th:first-child {
    border-top-left-radius: 0.25rem;
}

th:last-child {
    border-top-right-radius: 0.25rem;
}


td, th {
    padding: 0rem 0.5rem;
}

a.link-title {
    color: black;
    font-weight: bold;
}

.icon {
    padding: 0.2rem 0.4rem;
    transition-duration: 0s;
}
.icon:hover, .icon:focus, .icon:active, .icon.active {
    background-color: #cceeff;
}
.icon-header {
    fill: black;
    padding: 5px;
}
.icon-header:hover, .icon-header:active, .icon-header.active {
    background-color: rgba(255, 255, 255, 0.3);
}

.label {
    padding: .2rem .4rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: 1px solid black;
}

.priority-0 {
    background-color: #cc0000;
    color: white;
}
.priority-1 {
    background-color: #ff9900;
    color: white;
}
.priority-2 {
    background-color: #009933;
    color: white;
}
.status-0 {
    border: 1px solid #cc6600;
    background-color: #ffcc99;
}
.status-1 {
    border: 1px solid #996600;
    background-color: #ffff99;
}
.status-2 {
    border: 1px solid #006600;
    background-color: #99ffcc;
}
.status-3 {
    border: 1px solid #000066;
    background-color: #99ccff;
}

form.big-form {
    /* Matches what .row sets in index.html */
    margin-left: -15px;
    margin-right: -15px;
}

.limit-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

div.scrollable {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    overflow: auto;
    max-height: 250px;
    white-space: pre-wrap;
}
div.notes {
    margin-bottom: calc(5px - 1rem);
}
div.notes p {
    display: inline-block;
}
