html {
    height: 100%;
}

body {
    background-color: white;
    background-image: url("/static/redwoods.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
}

main {
    padding: 0.5rem 1.25rem;
}

nav.navbar {
    padding: 0.75rem 1.25rem;
    /* border-bottom: 1px solid #c0c0c0; */
}

.navbar-brand {
    font-size: 1.5rem;
    line-height: 1;
    color: white;
}

#linkbar {
    width: 500px;
    background-color: rgba(224, 224, 224, 0.9);
}

tr.header{
    background-color: rgba(224, 224, 224, 0.9);
    border-top: 0px;
}

tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(192, 192, 192, 0.9);
}

tr.highlighted-row {
    background-color: rgba(192, 192, 255, 0.9);
}

th:first-child {
    border-top-left-radius: 0.25rem;
}

th:last-child {
    border-top-right-radius: 0.25rem;
}


td, th {
    padding: 0rem 0.5rem;
}

a.link-title {
    color: black;
	font-weight: bold;
}

.icon {
    padding: 0.2rem 0.4rem;
    transition-duration: 0s;
}
.icon:hover, .icon:focus, .icon:active, .icon.active {
    background-color: #cceeff;
}

.label {
    padding: .2rem .4rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: 1px solid black;
}

.priority-0 {
    background-color: #cc0000;
    color: white;
}
.priority-1 {
    background-color: #ff9900;
    color: white;
}
.priority-2 {
    background-color: #009933;
    color: white;
}
.status-0 {
    border: 1px solid #cc6600;
    background-color: #ffcc99;
}
.status-1 {
    border: 1px solid #996600;
    background-color: #ffff99;
}
.status-2 {
    border: 1px solid #006600;
    background-color: #99ffcc;
}
.status-3 {
    border: 1px solid #000066;
    background-color: #99ccff;
}

form.big-form {
    /* Matches what .row sets in index.html */
    margin-left: -15px;
    margin-right: -15px;
}

label {
    color: white;
}
