{% extends "user_layout.html" %}

{% block content %}
<form action="/post_edit_queued" method="post" class="big-form">
    <input type="hidden" id="paper_id" name="paper_id" value="{{paper.id}}"/>
    <input type="hidden" id="date_added" name="date_added" value="{{paper.date_added.timestamp()}}"/>
    <div class="row mb-2 g-2">
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="authors" id="authors" value="{{paper.authors}}">
            <label for="authors" class="ms-1">Authors</label>
        </div>
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="title" id="title" value="{{paper.title}}">
            <label for="title" class="ms-1">Title</label>
        </div>
    </div>
    <div class="row mb-2 g-2">
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="url" id="url" value="{{paper.url}}">
            <label for="url" class="ms-1">URL</label>
        </div>
        <div class="col-sm-2 form-floating">
            <input type="text" class="form-control" name="venue" id="venue" value="{{paper.venue}}">
            <label for="venue" class="ms-1">Venue</label>
        </div>
        <div class="col-sm-2 form-floating">
            <input type="text" class="form-control" name="year" id="year" value="{{paper.year if paper.year > 0 else ''}}">
            <label for="year" class="ms-1">Year</label>
        </div>
        <div class="col-sm-2 form-floating">
            <select name="priority" id="priority" class="form-control">
                {% for priority in priorities %} 
                {% if paper.priority == loop.index0 %}
                <option selected value="{{loop.index0}}">{{priority}}</option>
                {% else %}
                <option value="{{loop.index0}}">{{priority}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label for="priority" class="ms-1">Priority</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
