{% extends "user_layout.html" %}

{% block content %}
<form action="/{{action}}" method="post" class="big-form">
    <input type="hidden" id="paper_id" name="paper_id" value="{{paper.id}}"/>
    <input type="hidden" id="date_added" name="date_added" value="{{paper.date_added.timestamp()}}"/>
    <div class="row mb-2 g-2">
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="authors" id="authors" value="{{paper.authors}}">
            <label for="authors" class="ms-1">Authors</label>
        </div>
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="title" id="title" value="{{paper.title}}">
            <label for="title" class="ms-1">Title</label>
        </div>
    </div>
    <div class="row mb-2 g-2">
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="url" id="url" value="{{paper.url}}">
            <label for="url" class="ms-1">URL</label>
        </div>
        <div class="col-sm-2 form-floating">
            <input type="text" class="form-control" name="venue" id="venue" value="{{paper.venue}}">
            <label for="venue" class="ms-1">Venue</label>
        </div>
        <div class="col-sm-2 form-floating">
            <input type="text" class="form-control" name="year" id="year" value="{{paper.year}}">
            <label for="year" class="ms-1">Year</label>
        </div>
        <div class="col-sm-2 form-floating">
            <select name="status" id="status" class="form-control">
                {% for status in statuses %} 
                {% if loop.index0 == 0 and not paper.status or paper.status == loop.index0 %}
                <option selected value="{{loop.index0}}">{{status}}</option>
                {% else %}
                <option value="{{loop.index0}}">{{status}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label for="status" class="ms-1">Status</label>
        </div>
    </div>
    <div class="row mb-2 g-2">
		<div class="col-md-12 form-floating">
			<textarea class="form-control" name="note" id="note" rows="7" style="height:100%;">{{paper.note if paper.note else ''}}</textarea>
			<label for="note" class="ms-1">Notes</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
